k{
    color: blue;
    font-family: cursive;

}
o{
    color: crimson;
    font-family: cursive;

}
r{
    color: rgb(245, 24, 157);
    font-family: serif;
}
w{
    color: darkorchid;

}
f{

    color: rgb(245, 110, 13);
    font-family: inherit;

}